* {
    margin: 0px;
    padding: 0px;
}

@font-face{
    src: url(./fonts/Montserrat-Regular.ttf);
    font-family: montserrat;
}

@font-face {
    src: url(./fonts/DancingScript-VariableFont_wght.ttf);
    font-family: dancing-script;
}

@font-face {
    src: url(./fonts/Catamaran.ttf);
    font-family: catamaran;
}

@font-face{
    src: url(./fonts/CormorantGaramond-Regular.ttf);
    font-family: cormorant;
}

body {
    font-family: montserrat;
}

.container-banner{
    width: 1200px;
    margin: 0 auto;
}

.container{
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.navbar-brand, .header-brand {
    font-family: dancing-script;
    font-weight: 900;
    color: #111;
    padding-left: 20px;
    font-size: 20px;
}

.section-header {
    font-size: 40px;
    padding-bottom: 10px;
    padding-top: 40px;
    font-family: cormorant;
    font-weight: 900;
}

.navbar {
    background-color: #c4c4c4;
}

.affiliate-group {
    padding-top: 80px;
}

.epiphannie-logo {
    width: 180px;
}

/*AWIN PAGE*/


.index-form {
    padding-bottom: 60px;
}

.index-table {
    padding-bottom: 30px;
}

.btn {
    border: solid;
}

/*NETWORKS PAGE*/
.networks-table tr:nth-child(1) {
    border: solid 3px #add8e6;
}

.networks-affiliate-id-danger {
    color: rgb(241, 56, 56);
    font-size: small;
}
.networks-settings {
    color: rgb(241, 56, 56);
}

.add-network-button-1 {
   padding-bottom: 20px;
}

.add-network-button-2 {
    padding-top: 30px;
}

.add-network-button-2 div button span {
    font-size: 16px;
}

 .add-network-radio{
    border: 1px solid #111;
 }

 .add-network-button-2 div button{
    font-size: 30px;
}

.btn-test {
    display: inline;
}

.btn-test-connection-1 {
    width: 80%;
    margin: 0 auto;
}

.btn-test-connection-1 button {
    width: 100%;
    line-height: 7px;
    margin-top: 10px;
}

.btn-test-connection-2 {
    width: 80%;
    height: 20px;
    margin: 0 auto;
}

.btn-test-connection-2 button{
    width: 100%;
    height: 80%;
    padding-bottom: 10px;
    line-height: 7px;
}

.side-bar {
    background-color: #f3f3f3;
    display: inline;
    height: 100%;
    padding-top: 100px;
}

.side-bar a {
    display: block;
    text-decoration: none;
}

.side-bar a p {
    color: #fff;
    margin: 0 auto;
    font-weight: 800;
    text-shadow: 1px 1px 1px #111;
    text-align: center;
}

.side-bar-box {
    width: 70%;
    height: 150px;
    border: solid #111 1px;
    background-color: #fff;
    margin: 20px 0px 0px 43px;
}

/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #c4c4c4;
    position: fixed;
    height: 100%;
    overflow: auto;
    display: inline;
}
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: black;
    padding: 16px 0px;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
}
    
  /* Links on mouse-over */
  .header-brand:hover:not(.active) {
    color: darkgray;
}
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
    background-color: #f1f1f1;
}

.sidebar-icon-networks {
    height: 70px;
    width: 70px;
    background-image: url(icons/network.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.sidebar-icon-merchants {
    height: 70px;
    width: 70px;
    background-image: url(icons/merchants.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

.sidebar-icon-comparisom {
    height: 70px;
    width: 70px;
    background-image: url(icons/comparison.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
}

  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  
/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
/*AMAZON PAGE*/
.amazon-test {
    padding-top: 10px;
}


/*MERCHANTS PAGE*/
.merchants-logo {
    height: 93px;
    width: 171px;
    border: solid #111 1px;
    
}

.merchants-count {
    border: solid #98ecec 3px;
    padding: 15px;
    border-radius: 8px;
}

.merchants-count p, .merchant-count-p {
    font-weight: 600;
    font-size: 28px;
    padding-top: 18.5px;
}

.btn-empty-merchants {
    border-left: solid 3px #111;
    height: 50px;
    width: 1px;
}

.label-lg {
    font-size: 25px;
}

.input-lg{
    height: 50px;
    width: 400px;
    border: solid 2px #98ecec;
}

.btn-close {
    height: 50px;
    border: solid 2px #98ecec;
}

.merchants-dropdown {
    border-left: solid 5px #98ecec;
    margin-bottom: 12px;
    background-color: #fff;
    
}

.merchants-dropdown a {
    display: inline;
    font-size: 25px;
    line-height: 50px;
    text-decoration: none;
    color: #111;
    
}

.merchants-header {
    font-weight: 600;
}

/*PRODUCT SET PAGE*/
.products-dropdown {
    border-bottom: solid 2px #111;
    margin-top: 30px;
    margin-bottom: 10px;
}

.products-dropdown a {
    display: inline;
    font-size: 18px;
    line-height: 50px;
    text-decoration: none;
    color: #111;
}

.plus {
    text-decoration: none;
}

.plus span{
    font-weight: 600;
}
/*TESTING*/
.tester {
    padding-left: 100px;
    width: 60%;
}

.alert-hidden{
    display: none;
}

/*INDEX PAGE*/
.nav-index li {
    font-size: 15px;
    font-family: montserrat;
    font-style: normal;
    font-weight: 500;    
    line-height: 20px;
    padding-left: 10px;
}
    
.nav-index-form button {
    margin: 15px;
}

.nav-index li a:hover {
    font-weight: 700;
    color: #521887 !important; 
}

.index-banner {
    width: 100%;
    height: 300px;
    background-image: url(img/others/epiphanniea-homepage-banner-v3.900x450.png);
    margin-top: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.index-banner-text {
    margin-top: 80px;
    width: 100%;
    height: 400px;
    display: table;
}

.vertical-center {
    display: table-cell;
    vertical-align: middle;
    font-size: 25px;
    text-align: center;
    font-family: montserrat;
}

.bottom-border {
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 3px #ccc solid;
}

.trending-brand {
    margin-top: 40px;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.thumbnail-user  {
    height: 50px;
    width: 50px;
    border: #fff solid 3px;
    border-radius: 25px;
    box-shadow: #c4c4c4;
}

.thumbnail-user img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}

.thumbnail-user-p {
    margin-left:-5px;
    color: #fff;
    font-weight: 600;
    line-height: 50px;
    text-shadow: 2px 2px #111;
}

.thumbnail-products {
    height: 80px;
    width: 80px;
}

.thumbnail-products img {
    height: 100%;
    width: 100%;
    margin-top: 50px;
    border-radius: 40px;
}

.shoppable-video-thumbnail-1 {
    width: 250px;
    height: 425px;
    text-align: center;
    border-radius: 30px;
    background-image: url(img/others/creme-of-nature-gel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: table;
}

.shoppable-video-thumbnail-2 {
    width: 250px;
    height: 425px;
    text-align: center;
    border-radius: 30px;
    background-image: url(img/others/garnier-ampoule.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shoppable-video-thumbnail-3 {
    width: 250px;
    height: 425px;
    text-align: center;
    border-radius: 30px;
    background-image: url(img/others/kvd-foundation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.shoppable-video-thumbnail-4 {
    width: 250px;
    height: 425px;
    text-align: center;
    border-radius: 30px;
    background-image: url(img/others/origins.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.play-button-div {
    display: none;    
    height: fit-content;    
}

.play-button-a:hover .play-button-div {
    display: block;    
}

.play-button {
    font-size: 90px;
    color: #E5E5E5;
}

.play-button-1 {
    font-size: 40px;
    color: #E5E5E5;
    padding-top: 60px;
}


.shoppable-video-thumbnail img {
    width: 100%;
    height: 100%;
}

.follow-small {
    height: 25px;
    width: 70px;
    font-size: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.profile-pic {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.profile-pic img{
    width: 100%;
    height: 100%;
    border-radius: 250px;
}

.product-pic {   
    width: 75%;
    padding-left: 35px;
}

.profile-pic-text {
    font-size: 20px;
}

.profile-pic-text-2 {
    font-size: 14px;
    font-weight: 700;
}

.profile-pic-text span {
    font-size: 16px;
}

.product-name {
    font-size: 14px;
    text-align: center;
}

.shoppable-video-container {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
}

.videowrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0px;
}

.videowrapper iframe {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}

.subscribe {
    background-color: #ccc;
    width: 100%;
    height: 50px;
}

.subscribe-toggle {
    border: none;
    outline: none;
}

.feedback {
    background-color: #ccc;
    width: 100%;
    padding-top: 30px;
}

.feedback-header {
    font-size: 35px;
    font-weight: 700;
}

.feedback-img {
    width: 100%;
    margin-bottom: 20px
}

.feedback-text {
    padding: 20px;
}

.feedback-text h3 {
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.feedback-text p {
    font-size: 14px;
    text-align: center;
}

.feedback-a {
    font-weight: 900;
    text-decoration: none;
    text-align: center;
    color: rgb(231, 65, 65);
}


.rewards-header {
    font-size: 45px;
    font-weight: 400;
}

.rewards-img {
    background-image: url(img/others/epiphanniea-site-offer-800x600.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.rewards-p1 {
    font-size: 18px;
}

.rewards-p2 {
    font-size: 14px;
}

.sectioner {
    display: flex;
    flex-flow: row wrap;
}

.sectioner h3{    
    width: fit-content;
}

.sectioner div {
    width: 100%;
    height: 3px;
    background-color: #111;
    margin-left: 10px;
    margin-bottom: 10px;
}


.obsessed-slash {
    width: 100%;
    height: 250px;
    display: table;
}

.countdown-timer {    
    width: 100%;
    height: fit-content;   
    margin-right: 15px;
}

.countdown-timer p {
    font-size: 18px;
    font-weight: 900;
    line-height: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #111;
}

.timer {
    height: 80px;
    width: 100%;
    background-color: #111;
    box-shadow: 5px 5px rgb(63, 63, 63);
    text-align: center;
}

.timer p {
    font-size: 60px;
    font-weight: 900;
    width: 100%;
    color: #ccc;
    line-height: 80px;
}

.obsessed-box-1{
    height: 250px;
    background-image: url(img/products/product-pic-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsessed-box-2{
    height: 250px;
    background-image: url(img/products/product-pic-8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsessed-box-3{
    height: 250px;
    background-image: url(img/products/product-pic-9.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsessed-box-4{
    height: 250px;
    background-image: url(img/products/product-pic-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.obsessed-box-text{
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}

.blank {
    height: 500px;
    width: 100%;
    background-color: #E5E5E5;
}

.blog-title{
    text-align: center;
    font-size: 40px;
    font-weight: 400px;
}

.blog-p{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}

.blog-blank {
    height: 250px;
    width: 100%;
}

.blog-blank img{    
    width: 100%;
    align-self: center;
}

.featured-curators-user-1 {
    height: 150px;
    width: 150px;
    background-image: url(img/profile/profile-pic-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 75px;
}

.featured-curators-user-2 {
    height: 150px;
    width: 150px;
    background-image: url(img/profile/profile-pic-6.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 75px;
}

.featured-curators-user-3 {
    height: 150px;
    width: 150px;
    background-image: url(img/profile/profile-pic-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 75px;
}

.featured-curators-thumbnail-1 {
    height: 160px;
    width: 120%;
    text-align: center;
    border-radius: 20px;
    background-image: url(img/others/creme-of-nature-gel.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-curators-thumbnail-2 {
    height: 160px;
    width: 120%;
    text-align: center;
    border-radius: 20px;
    background-image: url(img/others/garnier-ampoule.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-curators-thumbnail-3 {
    height: 160px;
    width: 120%;
    text-align: center;
    border-radius: 20px;
    background-image: url(img/others/kvd-foundation.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-curators-thumbnail-4 {
    height: 160px;
    width: 120%;
    text-align: center;
    border-radius: 20px;
    background-image: url(img/others/origins.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-curators-thumbnail-5 {
    height: 160px;
    width: 120%;
    text-align: center;
    border-radius: 20px;
    background-image: url(img/others/marc-jacobs-beauty.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-curators-thumbnail-6 {
    height: 160px;
    width: 120%;
    text-align: center;
    border-radius: 20px;
    background-image: url(img/others/kvd-beauty.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.featured-curators-p {
    text-align: center;
    font-weight: 700;
}

.brands-on-radar {
    width: 200px;
    height: 120px;
    background-color: #E5E5E5;
}

.trending-products-hair-1 {
    height: 300px;
    width: 130px;
    background-image: url(img/products/product-pic-11.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trending-products-hair-2 {
    height: 300px;
    width: 130px;
    background-image: url(img/products/product-pic-12.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trending-products-hair-3 {
    height: 300px;
    width: 130px;
    background-image: url(img/products/product-pic-15.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trending-products-user-1 {
    height: 60px;
    width: 60px;
    background-image: url(img/profile/profile-pic-8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

.trending-products-user-2 {
    height: 60px;
    width: 60px;
    background-image: url(img/profile/profile-pic-01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

.trending-products-user-5 {
    height: 60px;
    width: 60px;
    background-image: url(img/profile/profile-pic-7.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

.trending-products-skin-1 {
    height: 300px;
    width: 130px;
    background-image: url(img/products/product-pic-13.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trending-products-skin-2 {
    height: 300px;
    width: 130px;
    background-image: url(img/products/product-pic-14.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trending-products-skin-3 {
    height: 300px;
    width: 130px;
    background-image: url(img/products/product-pic-16.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.trending-products-user-3 {
    height: 60px;
    width: 60px;
    background-image: url(img/profile/profile-pic-10.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

.trending-products-user-4 {
    height: 60px;
    width: 60px;
    background-image: url(img/profile/profile-pic-02.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

.trending-products-user-6 {
    height: 60px;
    width: 60px;
    background-image: url(img/profile/profile-pic-5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50px;
}

.star-rating {
    font-size: 20px;
    vertical-align: middle;
}

.trending-products-text-1 {
    font-size: 12px;
    font-weight: 700;
}

.trending-products-text-2 {
    font-size: 18px;
    font-weight: 700;
}

.trending-products-text-3 {
    font-size: 14px;
    font-weight: 400;
}

@media screen and (max-width: 700px) {
    .index-banner-text {
    width: 100%;
    height: calc (100vh - 100px);
    font-size: 10px;
    }

    .index-banner {        
        display: none;
    }

    .nav-index li {
        text-align: center;
    }

    .navbar-brand {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .vertical-center {        
        font-size: 40px; 
    }

    .trending div {
        font-size: 30px;
    }
}
